.titulo{
    margin-top: 5%;
    justify-content: center;
    text-align: center;
}
.menu{
    margin-top: 8%;
    opacity: 0.8;
    margin-left: 5%;
    font-size: 15px;
}
.botao{
    background: orange;
    border: none;
    text-align: start;
    margin-top: 2%;
    font-weight: bold;
    color: white;
    padding: 5px;
    font-size: 18px;
    margin-left: 5%;
}
.botao:hover{
    background-color:  rgba(255, 255, 255, 0.2);
}
.nav{
    font-weight: bold;
    display: block;
}
.img{
    margin-right: 5px;
}
.off{
    width: 250px !important;
    background-color: orange;
    color: white
}